{% extends 'base.html' %}

{% block title %}Logout{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form action="#" method="post">
                <h1 class="mb-5">Logout</h1>
                {% csrf_token %}
                <p>Are you sure you want to log out?</p>
                <button class="btn btn-danger w-100 mb-3" type="submit">Logout</button>
                <p class="text-center">Go back to <a href="{% url 'home' %}">Home</a></p>
            </form>
        </div>
    </div>
{% endblock %}