{% extends 'base.html' %}

{% block title %}Profile | {{ u.username }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-4">
            <img src="{{ u.profile_picture.url }}" class="rounded-circle mb-3 mx-auto d-block" style="width: 60%;">
            <h2 class="text-center">{{ u.first_name }} {{ u.last_name }}</h2>
            <p  class="text-justify">{{ u.bio }}</p>
            <a href="{% url 'update-account' %}" class="btn btn-primary w-100 mb-2">Edit Profile</a>
            <ul class="list-group list-group-flush">
                <!-- Location -->
                {% if u.location %}
                    <li class="list-group-item">
                        <div class="d-flex align-items-center">
                            <i class="bi bi-geo-alt-fill me-2"></i>
                            {{ u.location }}
                        </div>
                    </li>
                {% endif %}
                <!-- Company -->
                {% if u.company %}
                    <li class="list-group-item">
                        <div class="d-flex align-items-center">
                            <i class="bi bi-building-fill me-2"></i>
                            {{ u.company }}
                        </div>
                    </li>
                {% endif %}
                <!-- Email -->
                <li class="list-group-item">
                    <div class="d-flex align-items-center">
                        <i class="bi bi-envelope-fill me-2"></i>
                        <a class="link-secondary text-decoration-none" href="mailto:{{ u.email }}">{{ u.email }}</a>
                    </div>
                </li>
                <!-- Website -->
                {% if u.website_url %}
                    <li class="list-group-item">
                        <div class="d-flex align-items-center">
                            <i class="bi bi-globe me-2"></i>
                            <a class="link-secondary text-decoration-none" href="{{ u.website_url }}" target="_blank">{{ u.website_url }}</a>
                        </div>
                    </li>
                {% endif %}
                <!-- Instagram -->
                {% if u.instagram_username %}
                    <li class="list-group-item">
                        <div class="d-flex align-items-center">
                            <i class="bi bi-instagram me-2"></i>
                            <a class="link-secondary text-decoration-none" href="https://www.instagram.com/{{ u.instagram_username }}"
                                target="_blank">{{ u.instagram_username }}</a>
                        </div>
                    </li>
                {% endif %}
                <!-- Telegram -->
                {% if u.telegram_username %}
                    <li class="list-group-item">
                        <div class="d-flex align-items-center">
                            <i class="bi bi-telegram me-2"></i>
                            <a class="link-secondary text-decoration-none" href="https://t.me/{{ u.telegram_username }}"
                                target="_blank">{{ u.telegram_username }}</a>
                        </div>
                    </li>
                {% endif %}
                <!-- Facebook -->
                {% if u.facebook_username %}
                    <li class="list-group-item">
                        <div class="d-flex align-items-center">
                            <i class="bi bi-facebook me-2"></i>
                            <a class="link-secondary text-decoration-none" href="https://www.facebook.com/{{ u.facebook_username }}"
                                target="_blank">{{ u.facebook_username }}</a>
                        </div>
                    </li>
                {% endif %}
            </ul>
        </div>
        <div class="col-md-8">
            <h3>Posts</h3>
            <div class="mb-3">
                <h5>Post 1</h5>
                <p>This is the content of the first post. More information about the user.</p>
            </div>
            <div class="mb-3">
                <h5>Post 2</h5>
                <p>This is the second post. Thoughts on programming and technologies.</p>
            </div>
            <div class="mb-3">
                <h5>Post 3</h5>
                <p>This is the third post. My life and travels.</p>
            </div>
        </div>
    </div>
{% endblock %}