{% extends 'base.html' %}

{% block title %}Profile{% endblock %}

{% load static %}

{% block content %}
	<div class="row">
		<!-- Profile section -->
		<div class="col-md-8 p-5 shadow border rounded">
			<img class="mb-5 rounded-circle d-block mx-auto border border-5 p-2 border-{{ a.color }}"
				src="{% if a.picture %}{{ a.picture.url }}{% else %}{% static 'img/default-pic.png' %}{% endif %}"
				alt="{{ a.username }}" style="width: 30%;">
			<div class="text-center">
				{% if user in a.followers.all %}
				    <a class="btn btn-{{ a.color }}" href="{% url 'unfollow' a.slug %}"><i class="bi bi-person-dash"></i> Unfollow</a>
				{% else %}
				    <a class="btn btn-{{ a.color }}" href="{% url 'follow' a.slug %}"><i class="bi bi-person-fill-add"></i> Follow</a>
				{% endif %}
				<a class="btn btn-{{ a.color }}" href=""><i class="bi bi-chat-fill"></i> Message</a>
			</div>
			<hr class="my-5">
			<h2 class="text-center">{{ a.first_name }} {{ a.last_name }}</h2>
			<p class="text-center text-muted"><i class="bi bi-person-fill"></i> @{{ a.username }}&nbsp;&nbsp;&nbsp;&nbsp;<i class="bi bi-envelope-fill"></i> {{ a.email }}</p>
			{% if a.bio %}
				<p class="text-center text-muted">{{ a.bio }}</p>
			{% endif %}
			<hr class="my-5">
			<div class="row gap-3">
				<a href="#" class="col text-decoration-none text-muted text-center bg-light p-3 border rounded"><strong class="text-uppercase">Posts</strong><br>4</a>
				<a href="#" class="col text-decoration-none text-muted text-center bg-light p-3 border rounded"><strong class="text-uppercase">Followers</strong><br>{{ followers_count }}</a>
				<a href="#" class="col text-decoration-none text-muted text-center bg-light p-3 border rounded"><strong class="text-uppercase">Followings</strong><br>{{ following_count }}</a>
			</div>
		</div>
		<!-- /Profile section -->
	</div>
{% endblock %}